body{
 background-color: grey;
}

movie-form{

    margin-right:1px;
}


button,div,{
    margin:10px;
    float:right;
}
   
label{
    white-space:nowrap;
    
}
#animal-form{
    float:right;
    margin-right:0px;
}
.far,.fa-heart
{
display:none;
}